{% extends 'base.html.twig' %}
{% block title %}
	Buy {{catagory.name}}s with Excellent Performance at Competitive Prices | LED Manufacturer - GreenTronics
{% endblock %}
{% block breadcrumb %}
    <div class="breadcrumb">
	   <a href="/" alt="GreenTronics">Home</a> &gt;
	   <a href="" alt="{{catagory.name}}">{{catagory.name}}</a>
    </div>
{% endblock %}
{% block body %}
	<div class="content">
		<h1>{{catagory.name}}</h1>
		<p>{{catagory.discription|nl2br}}</p>
        {% if(catagory.application !='') %}
        <h3>Application</h3>
        <p>{{catagory.application}}</p> 
        {% endif%}
	</div>

	<div class="catalog-products">
        {% for pid,product in catagory.products %}
           <div>
                <a href="/{{catagory.catagory}}/{{pid}}">
                    <div>
                        <img src="/images/{{catagory.catagory}}/{{product.img}}" alt="{{product.name}}">
                        <div class='card-title'>{{product.name}}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
            <div class="itemempty"></div>
            <div class="itemempty"></div>
            <div class="itemempty"></div>
            <div class="itemempty"></div>
		</div>
{% endblock %}
{% block stylesheets %}
    <link href="/css/catalog.css" rel="stylesheet">
{% endblock %}