{% extends 'info.html.twig' %}
{% block title %}
	Buy LED Tubes with Excellent Performance at Competitive Prices | LED Manufacturer - GreenTronics
{% endblock %}
{% block breadcrumb %}
	<a href="/" alt="GreenTronics">Home</a> &gt;
	<a href="" alt="LED Tube">LED Tube</a>
{% endblock %}
{% block body %}
	<div class="content">
		<h1>LED Tube</h1>
		<p>
			Our LED Tube is mainly used for various kinds of office, hotel,

business super, entertainment, and the master of household lighting,

auxiliary lighting and landscape lighting. Effectively build household,

commercial super shopping, landscape lighting and other places of

different light environment, namely can do give priority to lighting,

auxiliary according to use of lamps and lanterns. Can

through the seamless joint, for all kinds of assembling.</p>
	</div> 
	<div class="catalog-products">
        {% for pid,product in catagory.products %}
           <div>
                <a href="/{{catagory.catagory}}/{{pid}}">
                    <div>
                        <img src="/images/{{catagory.catagory}}/{{product.img}}" alt="{{product.name}}">
                        <div class='card-title'>{{product.name}}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
            <div class="itemempty"></div>
            <div class="itemempty"></div>
            <div class="itemempty"></div>
            <div class="itemempty"></div>
		</div>
{% endblock %}
{% block stylesheets %}
    <link href="/css/catalog.css" rel="stylesheet">
{% endblock %}