{% extends 'base.html.twig' %}
{% block title %}
	Reliable Lighting Solutions at Competitive Prices | LED Manufacturer - GreenTronics
{% endblock %}
{% block body %}
    <section id="bodyblock">
    	<!-- #region Jssor Slider Begin -->
        <!-- Generator: Jssor Slider Maker -->
        <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:590px;overflow:hidden;visibility:hidden;">
            <!-- Loading Screen -->
            <div data-u="loading" class="jssorl-009-spin">
                <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../svg/loading/static-svg/spin.svg" />
            </div>
            <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:590px;overflow:hidden;">
               <div>
                   <img data-u="image" src="/images/index.slider/1.jpg" />
                   <div class="context-1">LED Light, brighten your life.</div>
               </div>
               <div>
                   <img data-u="image" src="/images/index.slider/2.jpg" />
                   <div class="context-1">A Professional LED lights supplier.</div>
               </div>
               <div>
                   <img data-u="image" src="/images/index.slider/3.jpg" />
                    <div class="context-1">Excellent LED lights made of top-branding raw materials.</div>
                </div>
            </div>
            <!-- Bullet Navigator -->
            <div data-u="navigator" class="jssorb032" style="bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                <div data-u="prototype" class="i" style="width:16px;height:16px;">
                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                    </svg>
                </div>
            </div>
            <!-- Arrow Navigator -->
            <div data-u="arrowleft" class="jssora051" style="width:65px;height:65px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                </svg>
            </div>
            <div data-u="arrowright" class="jssora051" style="width:65px;height:65px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
               <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                   <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                </svg>
            </div>
        </div>
        <!-- #endregion Jssor Slider End -->
        <br />
        <div class="split-header">
            <div class="hr-left"><hr></div>
            <div class="split-header-text">LED Lighting Products</div>
            <div class="hr-right"><hr></div>
        </div>
        <!-- #carousel start-->
        <div class="container">
            {% for catagory in catalog %}
                {% set products = catagory.products %}
                {% set product = random(products) %}
                <div>
                    <a href="/{{catagory.catagory}}" alt="{{catagory.name}}">
                        <div>
                            <img src="/images/{{catagory.catagory}}/{{product.img}}" alt="{{catagory.name}}">
                            <div class='card-title'>{{catagory.name}}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <div class="itemempty"></div>
            <div class="itemempty"></div>
            <div class="itemempty"></div>
            <div class="itemempty"></div>
        </div>
        <div class="split-header">
            <div class="hr-left"><hr></div>
            <div class="split-header-text">Strategic Partner</div>
            <div class="hr-right"><hr></div>
        </div>
        <!--partner start-->
        <div class="container-partner">
            <div><img src="/images/partner/1_01.jpg"></div>            
            <div><img src="/images/partner/1_02.jpg"></div>
            <div><img src="/images/partner/1_03.jpg"></div>
            <div><img src="/images/partner/1_04.jpg"></div>
            <div><img src="/images/partner/1_05.jpg"></div>
            <div><img src="/images/partner/1_06.jpg"></div>
            <div><img src="/images/partner/1_07.jpg"></div>
            <div><img src="/images/partner/1_08.jpg"></div>
            <div><img src="/images/partner/1_09.jpg"></div>
            <div><img src="/images/partner/1_10.jpg"></div>
            <div><img src="/images/partner/1_11.jpg"></div>
            <div></div>            
        </div>
        <div class=".clear"></div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/jssor.slider.min.js"></script>
    <script type="text/javascript" src="/js/index.slider.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="/css/index.css" rel="stylesheet">
{% endblock %}